{# 
    Component: Dynamic Banner
    Description: Top bar for announcements, countdowns, or urgency messages.
#}
{% if theme.settings.banner_enabled %}
<div class="dynamic-banner theme-{{ theme.settings.banner_style|default('dark') }}">
    <div class="container text-center">
        <span class="banner-text">{{ theme.settings.banner_text }}</span>
        
        {% if theme.settings.banner_countdown %}
            <span class="banner-countdown" data-end="{{ theme.settings.banner_countdown_date }}">
                Ends in <span class="timer">00:00:00</span>
            </span>
        {% endif %}
        
        {% if theme.settings.banner_cta %}
            <a href="{{ theme.settings.banner_link }}" class="banner-link">{{ theme.settings.banner_cta }}</a>
        {% endif %}
    </div>
</div>
{% endif %}
